body {
	color: #000;
	background: #EBEFFF /* url('../img/background.jpg') no-repeat */;
  background-size: contain;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/* COLORS */

.primary {color: #116AF2;}
.primary-bg {background-color: #116AF2;}
.secondary {color: #E1EDFF;}
.secondary-bg {background-color: #E1EDFF;}
.light-gray {color: #999999;}
.light-gray-bg {background-color: #999999;}


/* TYPOGRAPHY */

@media screen and (min-width: 388px) {
  body {font-size:11px !important;}
}

@media screen and (min-width: 768px) {
  body {font-size:14px !important;}
}

@media screen and (min-width: 1200px) {
  body {font-size:16px !important;}
}

h1 {
  padding-top: 1em;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1;
}
h2 {
  font-size: 2.625em;
  line-height: 1.2em;
  letter-spacing: -0.05em;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}

h5 {
  text-transform: uppercase;
  padding-bottom: 1em;
  padding-top: 3em;
  font-size: 1em;
}

p {
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: -0.1px;
  color: #000000;
}

.caps {text-transform: uppercase;}

a {
  font-size: 16px;
  color: #000000;
  transition: all 0.35s ease-out;
}

a:hover {
  color: #116AF2;
}

ul, li {
  list-style-type: none;
}
li {
	line-height: 2.25em;
}

/* FORMS */

input {
  background: #F0F0F1 !important;
  border-radius: 10px !important;
  border: none !important;
}


.button {
  background: #116AF2 !important;
  font-size: 1.25em;
  padding: 1em 2em;
  margin: 2em 0em;
}
  .button:hover {
    background: #000;
  }

/* UTILS */
.round {
  border-radius: 10px;
}
.padding-vert-large {
  padding: 6em 0em;
}
.padding-vert-medium {
  padding: 4em 0em;
}
.padding-vert-small {
  padding: 2em 0em;
}
.full-width {
  width: 100%;
}
.icon {
	padding: 1.25em;
	height:7.5em;
}
/* SECTIONS */

.hero {
  margin: 3em 0em;
}

#join {
  padding-top: 3em;
}

.inside {
  width: 50%;
  padding-top: 4em;
  margin: 0em 6em;
}

.product-card {
  background: white;
  border-radius: 4px;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.product-card:hover {
  box-shadow: 0 11px 18px 0 rgba(0,0,0,0.07);
  border-radius: 4px;
  position: relative;
  top: -10px;
}
.overlap-box {
	margin-top: -15em;
}
.overlap-background {
	margin-top: 10em;
}

/* FOOTER */

#footer {
  background: #ffffff;
  color: #999999;
  width: 100%;
  /* padding-top: 8em; */
}

.credit {
  font-family: Work Sans;
  font-size: 13px;
}
.credit-footer {
  margin-top: 8em;
  padding: 2em 0em;
  font-size: 12px;
}
.credit-footer a {
  padding-left: 10px;
  font-size: 12px;
  color: #999999;
}
  .credit-footer a:hover {
    color: #116AF2;
  }
